

<p id="first">Hello</p>
<p id="second">goodbye</p>
<p id="third">welcome</p>
<p id="fourth">farewell</p>

<button onclick="changeColors()">Start</button>

<button onclick="myFunction()">Try it</button>


<button onclick="getData()">Get Api data!</button>
<div id ="api" ></div>
